---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
  newTab?: boolean;
}

const { href, className, ariaLabel, title, disabled, newTab } = Astro.props;
---

{
  disabled ? (
    <span
      class={`group ${className}`}
      aria-label={ariaLabel || title}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      {href}
      class={`group hover:text-skin-accent ${className}`}
      aria-label={ariaLabel || title}
      title={title}
      target={newTab ? "_blank" : "_self"}
    >
      <slot />
    </a>
  )
}
