---
import type { PostEntry } from "types";
import Datetime from "./Datetime";

export interface Props {
  href?: string;
  frontmatter: PostEntry["data"];
}

const { href, frontmatter } = Astro.props;
const { title, pubDatetime, modDatetime, description } = frontmatter;
---

<li class="my-6">
  <a class="link" href={href}>
    <h2 class="header">{title}</h2>
  </a>
  <Datetime pubDatetime={pubDatetime} modDatetime={modDatetime} />
  <p class="line-clamp-2">{description}</p>
</li>

<style>
  .card {
    @apply my-6;
  }
  .link {
    @apply inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0;
  }
  .header {
    @apply line-clamp-2 text-lg font-medium decoration-dashed hover:underline;
  }
</style>
