---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import PostCard from "@components/PostCard";
import { SITE } from "@config";
import type { PostEntry } from "types";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: PostEntry[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout title={`${SITE.title} | Posts`}>
  <Header activeNav="posts" />
  <Main pageTitle="Posts">
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <PostCard href={`/posts/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/posts${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/posts/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>